extends ./../layouts/main-layout.pug

block content
  main.main
    if prods.length > 0 
      .grid
        each product in prods
          article.card-product__item
            div.card-header
              h3 #{product.title}
            div.card-image
              img.card-img(src=product.image alt=product.title)    
            div.card-description
              div.card-content
                h2 $#{product.price}
                p.card-product_text #{product.description}
            div.card-button__buy
              button(type="submit") Add to cart
    else
      main.main
        h1 No products